.container {
  background-color: #c6878f;
  border-bottom: solid 3px;
}

@media (max-width: 1250px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60rem;
  }
}
