.container {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 100;
}

.toggleContainer {
  display: flex;
  align-items: flex-end;
}

.container h1 {
  margin-bottom: 0;
}

.container p {
  margin-top: 0;
}
