.toggle {
  background-color: #5ec694;
  position: fixed;
  right: 0;
  height: 100%;
  width: 100%;
  margin-top: 60px;
  z-index: 2;
}

.linkBox {
  font-size: 80px;
}

.linkBox:hover {
  background-color: #b38bfa;
}
