.toggle {
  background-color: #e4ccf4;
  position: fixed;
  right: 0;
  height: 100%;
  width: 100%;
  margin-top: 70px;
  z-index: 2;
  text-align: right;
}

.linkBox:hover {
  background-color: #c9d6ff;
}

.linkBox p {
  margin: 0;
  font-size: 80px;
}
