.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer {
  margin: 1rem;
  display: block;
  justify-content: center;
}

.p {
  display: flex;
  justify-content: center;
}
