@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Rufina:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rufina, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

button {
  font-family: Rufina;
  font-size: 1rem;
}
