@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Rufina:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Satoshi font family (local .otf files) */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Satoshi", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Satoshi", Inter;
  font-size: 1rem;
}

h3 {
  font-size: 20px;
}

h2 {
  font-size: 24px;
}

h1 {
  font-size: 36px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: 24px;
  }
}
